
<%= form_for @artist do |f| %>

  <% @artist.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= f.text_field :name, placeholder: "Artist name" %>

  <%= f.text_field :image_url, placeholder: "Image url" %>

  <%= f.submit "Save" %>

<% end %>
