
<%= form_for @artist, html: { multipart: true } do |f| %>

  <% @artist.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= f.text_field :name, placeholder: "Artist name" %>

  <p>Add an image:</p>

  <%= f.file_field "image_url", type: :file %>

  <span class="btn btn-default"><%= f.submit "Save" %></span>

<% end %>
