<h1>Hello and welcome to the artists page</h1>



    <% @artists.each do |artist| %>
      <div class="row">
        <div class="col-md-4">
          <%= link_to artist.name, artist_path(artist.id) %>
        </div>
        <div class="col-md-4">
          <%= image_tag artist.image_url %>
        </div>
      </div>
    <% end %>


<%= link_to "Add new artist", new_artist_path %>

<%= link_to "Sort by name", artists_path(order: "name") %>
<%= link_to "Sort by creation time", artists_path(order: "created_at") %>
