<h1><%= @artist.name %></h1>
<ul>
  <% @artist.songs.each do |song| %>
  <li><%= song.name %></li>
  <% end %>
</ul>

<%= render "songs/form" %>

<%= link_to "Delete", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to "Back", artists_path %>
