<row>
  <div class="col-md-offset-2 col-md-8">
    <h1><%= @artist.name %></h1>
  </div>
</row>

<row>
  <div class="col-md-offset-2 col-md-8">
    <%= image_tag @artist.image_url %>
  </div>
</row>
<row>
    <% if notice.present? %>
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>
    <% end %>
</row>
<row>
  <div class="col-md-offset-2 col-md-8">
    <ul id="songList">
      <%= render @songs %>
    </ul>
  </div>
</row>

<row>
  <div class="col-md-offset-2 col-md-8">
    <span class="btn btn-default"><%= link_to "Edit artist", edit_artist_path %></span>

    <span class="btn btn-default"><%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %></span>

    <span class="btn btn-default"><%= link_to "Back to list", artists_path %></span>

    <span class="btn btn-default"><a href="#" id="clean-up">Delete all songs</a></span>
  </div>
</row>

<row>
  <div class="col-md-offset-2 col-md-8">
    <%= render "song_form", song: @song %>
  </div>
</row>
