<row>
  <div class="col-md-offset-2 col-md-8">
    <h1><%= @artist.name %></h1>
  </div>
</row>

<row>
  <div class="col-md-offset-2 col-md-8">
    <%= image_tag @artist.image_url %>
  </div>
</row>

<row>
  <div class="col-md-offset-2 col-md-8">
      <% @artist.songs.each do |song| %>
        <div class="row">
          <div class="col-md-8">
            <p><%= song.name %> </p>
          </div>
          <div class="col-md-4">
            <span class="btn btn-default"><%= link_to "Delete song", [@artist, song] %></span>
          </div>
        </div>
      <% end %>
  </div>
</row>

<row>
  <div class="col-md-offset-2 col-md-8">
    <span class="btn btn-default"><%= link_to "Edit artist", edit_artist_path %></span>

    <span class="btn btn-default"><%= link_to "Delete artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %></span>

    <span class="btn btn-default"><%= link_to "Back to list", artists_path %></span>
  </div>
</row>

<row>
  <div class="col-md-offset-2 col-md-8">
    <%= render "songs/form" %>
  </div>
</row>
